<h2>
Manage Catagories
</h2>
<br>
<a ui-sref="newcatagory" ng-controller="catagorylist" class="btn-primary btn-lg nodecoration">Create New Catagory</a>
<br>
 <table width="200" border="1" align="center">
     <tbody>
     <tr align="center">
         <td>
         &nbsp;<input type="text" ng-model="catagorysea" align="center" class="inputText" placeholder="Search">
         </td>
     </tr>
     <tr>
    	 <td align="center"><label>Action</label></td>
         <td align="center"><label>Name</label></td>
         <td align="center"><label>Description</label></td>
         <td align="center"><label>Active</label></td>
     </tr>
     <tr ng-repeat="catagory in catagories | filter:catagorysea">
     	 <td align="center">&nbsp;<a class="btn btn-primary" ui-sref="viewcatagory({id:catagory.id})">View</a></td>
         <td align="center">{{catagory.name}}</td>
         <td align="center">{{catagory.description}}</td>
         <td align="center">{{catagory.active}}</td>
         </td>
     </tr>
     </tbody>
 </table>
 <h4 align="center"></h4>