<div class="container pad-top">
    <table class="table shipwrecktable">
        <tr>
            <td><h3>Details for {{catagory.namee}}</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{catagory.name}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{catagory.description}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{catagory.active}}</td>
        </tr>
    </table>
    <div>
        <!-- a class="btn btn-primary" ui-sref="editNewItem({id:newitem.id})">Edit</a-->
    </div>
</div>