<div class="container pad-top">
    <table class="table shipwrecktable">
        <tr>
            <td><h3>Details for {{mapping.screenName}}</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Screen Name</td>
            <td>{{mapping.screenName}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{mapping.routineCode}}</td>
        </tr>
        <tr>
            <td>Number of Rows</td>
            <td>{{mapping.numberOfRows}}</td>
        </tr>
    </table>
    <div>
        <!-- a class="btn btn-primary" ui-sref="editNewItem({id:newitem.id})">Edit</a-->
    </div>
</div>